.contact-form {
  display: grid;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;

  .form-submit {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .submit-btn {
      border: 1px solid darkgray;
      color: white;
      padding: 10px 20px;
      background: cornflowerblue;
      border-radius: 5px;
      text-align: center;
    }
  }

  .contact-field {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;

    .error-text-color {
      color: red;
      text-align: "left";
      grid-column-end: 3;
    }
  }

  
}
